* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

/* Utilities */

:root {
  --primary-blue: rgb(0, 77,210);
}
header{
  background-color: var(--primary-blue);
}




.btn {
  background: var(--primary-blue);
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 10px;
}

.primary-color {
  color: var(--primary-green);
}

/* Elements */

.container {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  height: 100vh;
}

i {
  font-size: 30px;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 70px;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 30px;
}

p {
  font-size: 27px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

ul li {
  padding: 20px;
}

#navbar a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  border-bottom: 3px solid var(--primary-green);
  padding-bottom: 3px;
  opacity: 0.8;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.down-arrow {
  text-align: center;
  margin-top: -9em;
  width: 30px;
}

/* Animation */

.arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 3%;
}

.bounce {
  animation: bounce 2s infinite;
}
#wrapper{   /* #name is for id styling */
  padding:2em;
  margin: auto;  /*Will help center the text on the screen*/
  width:80%;
  background-color: #f5f5f5;
}
button[submit]{
  grid-column: 2;
  width: 9em;
}



@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
